In [1]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
GC_raw_data_path = 'D:\\GC\\Annotation'
GC_meta_data_path = 'D:\\GC\\GC_meta_data.json'

In [43]:
def traj(path):
    df=pd.read_csv(path,header=None)
    df.index = df.index + 1
    frame = df[df.index % 3 == 0] 
    y=df[df.index % 2 == 0]
    df_cord=df.drop(frame.index)
    df_c=df_cord.reset_index()
    df_c.index=df_c.index+1
    y=df_c[df_c.index % 2 == 0]
    x=df_c.drop(y.index)
    x_n=x.reset_index()
    y_n=y.reset_index()
    xx=x_n.iloc[:,2:3]
    yy=y_n.iloc[:,2:3]
    frame_n= frame.reset_index()
    ff= frame_n.iloc[:,1:2]
    traj=pd.concat([ff,xx,yy],axis=1)
    traj.columns=["frame","x","y"]
    return traj

In [180]:
# path="D:\\GC\\Annotation\\000002.txt"

In [44]:
a=[]
for i in range(1,9):
    path = ("D:\\GC\\Annotation\\" + "00000"+ str(i)+".txt")
    dat= traj(path)
    print(i)
    dat["ped_id"]=i
    a.append(dat)

1
2
3
4
5
6
7
8

In [7]:
s=traj(path)
s["ped_id"]="1"

In [47]:
df=pd.concat(a)

In [23]:
df.head(14)

    frame    x    y  ped_id
0       0  525  122       1
1      20  541  141       1
2      40  546  156       1
3      60  555  169       1
4      80  561  183       1
5     100  573  196       1
6     120  595  208       1
7     140  624  213       1
8     160  662  227       1
9     180  696  233       1
10    200  731  242       1
11    220  770  246       1
12    240  807  262       1
13    260  845  272       1

In [52]:
# df[(df.frame == 20) & (df.frame==40) &(df.frame==60) & (df.frame==80)]
df_obs=df[(df.frame == 20) | (df.frame==40) | (df.frame==60) | (df.frame==80) | (df.frame==100)|(df.frame==120)]
# df[(df.frame>=20) & (df.frame<= 80)]
# df_obs

In [53]:
import numpy as np
obs=np.array(df_obs).reshape(8,6,4)