In [22]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
GC_raw_data_path = 'D:\\GC\\Annotation'
GC_meta_data_path = 'D:\\GC\\GC_meta_data.json'

In [24]:
def traj(path):
    df=pd.read_csv(path,header=None)
    df.index = df.index + 1
    frame = df[df.index % 3 == 0] 
    y=df[df.index % 2 == 0]
    df_cord=df.drop(frame.index)
    df_c=df_cord.reset_index()
    df_c.index=df_c.index+1
    y=df_c[df_c.index % 2 == 0]
    x=df_c.drop(y.index)
    x_n=x.reset_index()
    y_n=y.reset_index()
    xx=x_n.iloc[:,2:3]
    yy=y_n.iloc[:,2:3]
    frame_n= frame.reset_index()
    ff= frame_n.iloc[:,1:2]
    traj=pd.concat([ff,xx,yy],axis=1)
    traj.columns=["frame","x","y"]
    return traj

In [44]:
# path="D:\\GC\\Annotation\\000002.txt"
import os
os.chdir("D:\\GC\\Annotation\\")
os.listdir()[1:3]

['000002.txt', '000003.txt']

In [54]:
a=[]
files=os.listdir()[0:10]
for ind,path in enumerate(files):
#     path = ("D:\\GC\\Annotation\\" + "00000"+ str(i)+".txt")
    dat= traj(path)
#     print(i)
    dat["ped_id"]=ind+1
    a.append(dat)

In [65]:
df=pd.concat(a)

In [71]:
# df[(df.frame == 20) & (df.frame==40) &(df.frame==60) & (df.frame==80)]
df_obs=df[(df.frame == 20) | (df.frame==40) | (df.frame==60) | (df.frame==80) | (df.frame==100)|(df.frame==120)]
# df[(df.frame>=20) & (df.frame<= 80)]

In [73]:
import numpy as np
# obs=np.array(df_obs).reshape(8,6,4)
df[(df.x<1755) & (df.x>1696) & (df.y<670) & (df.y>593)]

    frame     x    y  ped_id
33    660  1700  633       3
34    680  1752  648       3

In [12]:
import cv2

In [ ]:
# img = np.zeros((512,512,3), np.uint8)
# cv2.namedWindow('image')
# cv2.setMouseCallback('image',draw_circle)

In [21]:
img=cv2.imread("D:\\GC\\Frame\\000000.jpg")
img=cv2.resize(img, (720,576))
cv2.imshow("s",img)
cv2.waitKey(10000)
cv2.destroyAllWindows()

In [29]:
df

    frame     x    y  ped_id
0       0   525  122       1
1      20   541  141       1
2      40   546  156       1
3      60   555  169       1
4      80   561  183       1
..    ...   ...  ...     ...
80   4260  1705  883       8
81   4280  1762  888       8
82   4300  1826  890       8
83   4320  1890  874       8
84   4340  1914  900       8

[327 rows x 4 columns]